/* Base font and layout */
.test {
  background: linear-gradient(to bottom right, #f9f9f9, #fdfdfd);
  color: darkblue;
  border-left: 5px solid #000;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: bold;
  margin: 0;
}

.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
    font-size: .9rem;
    color: hsl(210, 10.8108108108%, 39.5098039216%);
    text-align-last: center;
    color: black;
    font-weight: bold;
}

.navbar *{
  color: white;
}